In [2]:
import pandas as pd
import geopandas as gpd
import os

In [2]:
# 读取Excel文件中的所有工作表，这将返回一个字典
#xlsx_file = 'TourismData.xlsx'
#all_sheets = pd.read_excel(xlsx_file, sheet_name=None)

# 遍历字典的键（即工作表名称）和值（即对应的DataFrame）
#for sheet_name, data in all_sheets.items():
    # 创建CSV文件的文件名
    #csv_file = f'csv/{sheet_name}.csv'
    # 将DataFrame写入CSV文件
    #data.to_csv(csv_file, index=False)

# 1 Read Data

In [3]:
ITA = pd.read_csv("csv/Inbound Tourism-Arrivals.csv", header = 2, na_values=["..", "..."])
# ITR = pd.read_csv("csv/Inbound Tourism-Regions.csv", header = 2, na_values=["..", "..."])
ITE = pd.read_csv("csv/Inbound Tourism-Expenditure.csv", header = 2, na_values=["..", "..."])
DTT = pd.read_csv("csv/Domestic Tourism-Trips.csv", header = 2, na_values=["..", "..."])

# 2 Extract Data

## 2.1 ITA

### 2.2.1 Extract countries name

In [5]:
## Extract the whole column
countries_ITA = ITA.iloc[:,3].tolist()
## Drop NA values
import math
countries_ITA = [x for x in countries_ITA if not (isinstance(x, float) and math.isnan(x))]
## Drop notes at the bottom
countries_ITA = countries_ITA[:-6]

In [6]:
# Check all countries name and the count
countries_ITA

['AFGHANISTAN',
 'ALBANIA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDORRA',
 'ANGOLA',
 'ANGUILLA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'ARUBA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BERMUDA',
 'BHUTAN',
 'BOLIVIA, PLURINATIONAL STATE OF',
 'BONAIRE',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BRAZIL',
 'BRITISH VIRGIN ISLANDS',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CABO VERDE',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'CHAD',
 'CHILE',
 'CHINA',
 'COLOMBIA',
 'COMOROS',
 'CONGO',
 'CONGO, DEMOCRATIC REPUBLIC OF THE',
 'COOK ISLANDS',
 'COSTA RICA',
 'COTE D´IVOIRE',
 'CROATIA',
 'CUBA',
 'CURAÇAO',
 'CYPRUS',
 'CZECH REPUBLIC (CZECHIA)',
 'DENMARK',
 'DJIBOUTI',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'ESTONIA',
 'ESWATINI',
 'ETHIOPIA',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'FRENCH GUIANA',
 'FRENCH POLYNESIA',
 'GABON',
 'GAMBIA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GREECE',
 'GRENADA',
 'GUADELOUPE',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG, CHINA',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN, ISLAMIC REPUBLIC OF',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KIRIBATI',
 'KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF',
 'KOREA, REPUBLIC OF',
 'KUWAIT',
 'KYRGYZSTAN',
 'LAO PEOPLE´S DEMOCRATIC REPUBLIC',
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LIECHTENSTEIN',
 'LITHUANIA',
 'LUXEMBOURG',
 'MACAO, CHINA',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITANIA',
 'MAURITIUS',
 'MEXICO',
 'MICRONESIA, FEDERATED STATES OF',
 'MOLDOVA, REPUBLIC OF',
 'MONACO',
 'MONGOLIA',
 'MONTENEGRO',
 'MONTSERRAT',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NAURU',
 'NEPAL',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER',
 'NIGERIA',
 'NIUE',
 'NORTH MACEDONIA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PALAU',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES',
 'POLAND',
 'PORTUGAL',
 'PUERTO RICO',
 'QATAR',
 'REUNION',
 'ROMANIA',
 'RUSSIAN FEDERATION',
 'RWANDA',
 'SABA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT VINCENT AND THE GRENADINES',
 'SAMOA',
 'SAN MARINO',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SERBIA AND MONTENEGRO',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SINT EUSTATIUS',
 'SINT MAARTEN (DUTCH PART)',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'STATE OF PALESTINE',
 'SUDAN',
 'SURINAME',
 'SWEDEN',
 'SWITZERLAND',
 'SYRIAN ARAB REPUBLIC',
 'TAIWAN PROVINCE OF CHINA',
 'TAJIKISTAN',
 'TANZANIA, UNITED REPUBLIC OF',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TONGA',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TÜRKIYE',
 'TURKMENISTAN',
 'TURKS AND CAICOS ISLANDS',
 'TUVALU',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES OF AMERICA',
 'UNITED STATES VIRGIN ISLANDS',
 'URUGUAY',
 'UZBEKISTAN',
 'VANUATU',
 'VENEZUELA, BOLIVARIAN REPUBLIC OF',
 'VIET NAM',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE']

In [7]:
if 'FRANCE' in countries_ITA:
    print('True')
else:
    print('False')

True

In [8]:
# Check the count of countries name
print(len(countries_ITA))

223

### 2.1.2 Extract values

In [9]:
values_ITA = ITA.iloc[2::6, 11:39]
values_ITA = values_ITA.drop(values_ITA.index[-1])
print(values_ITA)

        1995    1996    1997    1998    1999     2000     2001     2002  \
2        NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
8      304.0   287.0   119.0   184.0   371.0    317.0    354.0    470.0
14     520.0   605.0   635.0   678.0   749.0    866.0    901.0    988.0
20       NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
26       NaN     NaN     NaN     NaN  9422.0  10991.0  11351.0  11507.0
...      ...     ...     ...     ...     ...      ...      ...      ...
1310   879.0   960.0   933.0   813.0   702.0    602.0    792.0    590.0
1316  1351.0  1607.0  1716.0  1520.0  1782.0   2140.0   2330.0   2628.0
1322     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
1328     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
1334  1416.0  1597.0  1336.0  2090.0  2250.0   1967.0   2217.0   2041.0

         2003     2004  ...    2013    2014    2015     2016     2017  \
2         NaN      NaN  ...     NaN     NaN     NaN      NaN      NaN
8       557.0    645.0  ...  3256.0  3673.0  4131.0   4736.0   5118.0
14     1166.0   1234.0  ...  2733.0  2301.0  1710.0   2039.0   2451.0
20        NaN      NaN  ...    49.3    51.6    47.1     38.3     42.3
26    11601.0  11668.0  ...  7676.0  7797.0  7850.0   8025.0   8152.0
...       ...      ...  ...     ...     ...     ...      ...      ...
1310    435.0    618.0  ...  1085.0   967.0   882.0    681.0    429.0
1316   2429.0   2928.0  ...  7572.0  7874.0  7944.0  10013.0  12922.0
1322      NaN      NaN  ...  1323.0  1218.0   398.0      NaN      NaN
1328      NaN      NaN  ...     NaN     NaN     NaN      NaN      NaN
1334   2256.0   1854.0  ...  1833.0  1880.0  2057.0   2168.0   2423.0

         2018     2019    2020    2021    2022
2         NaN      NaN     NaN     NaN     NaN
8      5927.0   6406.0  2658.0  5689.0  7543.8
14     2657.0   2371.0   591.0   125.0  1398.0
20       51.8     58.6     NaN     NaN     NaN
26     8328.0   8235.0  5207.0  5422.0  8426.7
...       ...      ...     ...     ...     ...
1310      NaN      NaN     NaN     NaN     NaN
1316  15498.0  18009.0  3837.0   157.0  3661.0
1322      NaN      NaN     NaN     NaN     NaN
1328      NaN      NaN     NaN     NaN     NaN
1334   2580.0   2294.0   639.0   381.0  1044.0

[223 rows x 28 columns]

### 2.1.3 Add countries info

In [10]:
# Add countries name
ITA_1 = values_ITA.assign(country = countries_ITA)
print(ITA_1)

        1995    1996    1997    1998    1999     2000     2001     2002  \
2        NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
8      304.0   287.0   119.0   184.0   371.0    317.0    354.0    470.0
14     520.0   605.0   635.0   678.0   749.0    866.0    901.0    988.0
20       NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
26       NaN     NaN     NaN     NaN  9422.0  10991.0  11351.0  11507.0
...      ...     ...     ...     ...     ...      ...      ...      ...
1310   879.0   960.0   933.0   813.0   702.0    602.0    792.0    590.0
1316  1351.0  1607.0  1716.0  1520.0  1782.0   2140.0   2330.0   2628.0
1322     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
1328     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN
1334  1416.0  1597.0  1336.0  2090.0  2250.0   1967.0   2217.0   2041.0

         2003     2004  ...    2014    2015     2016     2017     2018  \
2         NaN      NaN  ...     NaN     NaN      NaN      NaN      NaN
8       557.0    645.0  ...  3673.0  4131.0   4736.0   5118.0   5927.0
14     1166.0   1234.0  ...  2301.0  1710.0   2039.0   2451.0   2657.0
20        NaN      NaN  ...    51.6    47.1     38.3     42.3     51.8
26    11601.0  11668.0  ...  7797.0  7850.0   8025.0   8152.0   8328.0
...       ...      ...  ...     ...     ...      ...      ...      ...
1310    435.0    618.0  ...   967.0   882.0    681.0    429.0      NaN
1316   2429.0   2928.0  ...  7874.0  7944.0  10013.0  12922.0  15498.0
1322      NaN      NaN  ...  1218.0   398.0      NaN      NaN      NaN
1328      NaN      NaN  ...     NaN     NaN      NaN      NaN      NaN
1334   2256.0   1854.0  ...  1880.0  2057.0   2168.0   2423.0   2580.0

         2019    2020    2021    2022                            country
2         NaN     NaN     NaN     NaN                        AFGHANISTAN
8      6406.0  2658.0  5689.0  7543.8                            ALBANIA
14     2371.0   591.0   125.0  1398.0                            ALGERIA
20       58.6     NaN     NaN     NaN                     AMERICAN SAMOA
26     8235.0  5207.0  5422.0  8426.7                            ANDORRA
...       ...     ...     ...     ...                                ...
1310      NaN     NaN     NaN     NaN  VENEZUELA, BOLIVARIAN REPUBLIC OF
1316  18009.0  3837.0   157.0  3661.0                           VIET NAM
1322      NaN     NaN     NaN     NaN                              YEMEN
1328      NaN     NaN     NaN     NaN                             ZAMBIA
1334   2294.0   639.0   381.0  1044.0                           ZIMBABWE

[223 rows x 29 columns]

In [11]:
# Add ISO
## Create a ISO dictionary
iso_dict = {
    'AFGHANISTAN': 'AFG',
    'ALBANIA': 'ALB',
    'ALGERIA': 'DZA',
    'AMERICAN SAMOA': 'ASM',
    'ANDORRA': 'AND',
    'ANGOLA': 'AGO',
    'ANGUILLA': 'AIA',
    'ANTIGUA AND BARBUDA': 'ATG',
    'ARGENTINA': 'ARG',
    'ARMENIA': 'ARM',
    'ARUBA': 'ABW',
    'AUSTRALIA': 'AUS',
    'AUSTRIA': 'AUT',
    'AZERBAIJAN': 'AZE',
    'BAHAMAS': 'BHS',
    'BAHRAIN': 'BHR',
    'BANGLADESH': 'BGD',
    'BARBADOS': 'BRB',
    'BELARUS': 'BLR',
    'BELGIUM': 'BEL',
    'BELIZE': 'BLZ',
    'BENIN': 'BEN',
    'BERMUDA': 'BMU',
    'BHUTAN': 'BTN',
    'BOLIVIA, PLURINATIONAL STATE OF': 'BOL',
    'BONAIRE': 'BES',
    'BOSNIA AND HERZEGOVINA': 'BIH',
    'BOTSWANA': 'BWA',
    'BRAZIL': 'BRA',
    'BRITISH VIRGIN ISLANDS': 'VGB',
    'BRUNEI DARUSSALAM': 'BRN',
    'BULGARIA': 'BGR',
    'BURKINA FASO': 'BFA',
    'BURUNDI': 'BDI',
    'CABO VERDE': 'CPV',
    'CAMBODIA': 'KHM',
    'CAMEROON': 'CMR',
    'CANADA': 'CAN',
    'CAYMAN ISLANDS': 'CYM',
    'CENTRAL AFRICAN REPUBLIC': 'CAF',
    'CHAD': 'TCD',
    'CHILE': 'CHL',
    'CHINA': 'CHN',
    'COLOMBIA': 'COL',
    'COMOROS': 'COM',
    'CONGO': 'COG',
    'CONGO, DEMOCRATIC REPUBLIC OF THE': 'COD',
    'COOK ISLANDS': 'COK',
    'COSTA RICA': 'CRI',
    'COTE D´IVOIRE': 'CIV',
    'CROATIA': 'HRV',
    'CUBA': 'CUB',
    'CURAÇAO': 'CUW',
    'CYPRUS': 'CYP',
    'CZECH REPUBLIC (CZECHIA)': 'CZE',
    'DENMARK': 'DNK',
    'DJIBOUTI': 'DJI',
    'DOMINICA': 'DMA',
    'DOMINICAN REPUBLIC': 'DOM',
    'ECUADOR': 'ECU',
    'EGYPT': 'EGY',
    'EL SALVADOR': 'SLV',
    'EQUATORIAL GUINEA': 'GNQ',
    'ERITREA': 'ERI',
    'ESTONIA': 'EST',
    'ESWATINI': 'SWZ',
    'ETHIOPIA': 'ETH',
    'FIJI': 'FJI',
    'FINLAND': 'FIN',
    'FRANCE': 'FRA',
    'FRENCH GUIANA': 'GUF',
    'FRENCH POLYNESIA': 'PYF',
    'GABON': 'GAB',
    'GAMBIA': 'GMB',
    'GEORGIA': 'GEO',
    'GERMANY': 'DEU',
    'GHANA': 'GHA',
    'GREECE': 'GRC',
    'GRENADA': 'GRD',
    'GUADELOUPE': 'GLP',
    'GUAM': 'GUM',
    'GUATEMALA': 'GTM',
    'GUINEA': 'GIN',
    'GUINEA-BISSAU': 'GNB',
    'GUYANA': 'GUY',
    'HAITI': 'HTI',
    'HONDURAS': 'HND',
    'HONG KONG, CHINA': 'HKG',
    'HUNGARY': 'HUN',
    'ICELAND': 'ISL',
    'INDIA': 'IND',
    'INDONESIA': 'IDN',
    'IRAN, ISLAMIC REPUBLIC OF': 'IRN',
    'IRAQ': 'IRQ',
    'IRELAND': 'IRL',
    'ISRAEL': 'ISR',
    'ITALY': 'ITA',
    'JAMAICA': 'JAM',
    'JAPAN': 'JPN',
    'JORDAN': 'JOR',
    'KAZAKHSTAN': 'KAZ',
    'KENYA': 'KEN',
    'KIRIBATI': 'KIR',
    'KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF': 'PRK',
    'KOREA, REPUBLIC OF': 'KOR',
    'KUWAIT': 'KWT',
    'KYRGYZSTAN': 'KGZ',
    'LAO PEOPLE´S DEMOCRATIC REPUBLIC': 'LAO',
    'LATVIA': 'LVA',
    'LEBANON': 'LBN',
    'LESOTHO': 'LSO',
    'LIBERIA': 'LBR',
    'LIBYA': 'LBY',
    'LIECHTENSTEIN': 'LIE',
    'LITHUANIA': 'LTU',
    'LUXEMBOURG': 'LUX',
    'MACAO, CHINA': 'MAC',
    'MADAGASCAR': 'MDG',
    'MALAWI': 'MWI',
    'MALAYSIA': 'MYS',
    'MALDIVES': 'MDV',
    'MALI': 'MLI',
    'MALTA': 'MLT',
    'MARSHALL ISLANDS': 'MHL',
    'MARTINIQUE': 'MTQ',
    'MAURITANIA': 'MRT',
    'MAURITIUS': 'MUS',
    'MEXICO': 'MEX',
    'MICRONESIA, FEDERATED STATES OF': 'FSM',
    'MOLDOVA, REPUBLIC OF': 'MDA',
    'MONACO': 'MCO',
    'MONGOLIA': 'MNG',
    'MONTENEGRO': 'MNE',
    'MONTSERRAT': 'MSR',
    'MOROCCO': 'MAR',
    'MOZAMBIQUE': 'MOZ',
    'MYANMAR': 'MMR',
    'NAMIBIA': 'NAM',
    'NAURU': 'NRU',
    'NEPAL': 'NPL',
    'NETHERLANDS': 'NLD',
    'NEW CALEDONIA': 'NCL',
    'NEW ZEALAND': 'NZL',
    'NICARAGUA': 'NIC',
    'NIGER': 'NER',
    'NIGERIA': 'NGA',
    'NIUE': 'NIU',
    'NORTH MACEDONIA': 'MKD',
    'NORTHERN MARIANA ISLANDS': 'MNP',
    'NORWAY': 'NOR',
    'OMAN': 'OMN',
    'PAKISTAN': 'PAK',
    'PALAU': 'PLW',
    'PANAMA': 'PAN',
    'PAPUA NEW GUINEA': 'PNG',
    'PARAGUAY': 'PRY',
    'PERU': 'PER',
    'PHILIPPINES': 'PHL',
    'POLAND': 'POL',
    'PORTUGAL': 'PRT',
    'PUERTO RICO': 'PRI',
    'QATAR': 'QAT',
    'REUNION': 'REU',
    'ROMANIA': 'ROU',
    'RUSSIAN FEDERATION': 'RUS',
    'RWANDA': 'RWA',
    'SABA': 'BES',
    'SAINT KITTS AND NEVIS': 'KNA',
    'SAINT LUCIA': 'LCA',
    'SAINT VINCENT AND THE GRENADINES': 'VCT',
    'SAMOA': 'WSM',
    'SAN MARINO': 'SMR',
    'SAO TOME AND PRINCIPE': 'STP',
    'SAUDI ARABIA': 'SAU',
    'SENEGAL': 'SEN',
    'SERBIA': 'SRB',
    'SERBIA AND MONTENEGRO': 'SCG',
    'SEYCHELLES': 'SYC',
    'SIERRA LEONE': 'SLE',
    'SINGAPORE': 'SGP',
    'SINT EUSTATIUS': 'STT',
    'SINT MAARTEN (DUTCH PART)': 'SXM',
    'SLOVAKIA': 'SVK',
    'SLOVENIA': 'SVN',
    'SOLOMON ISLANDS': 'SLB',
    'SOMALIA': 'SOM',
    'SOUTH AFRICA': 'ZAF',
    'SOUTH SUDAN': 'SSD',
    'SPAIN': 'ESP',
    'SRI LANKA': 'LKA',
    'STATE OF PALESTINE': 'PSE',
    'SUDAN': 'SDN',
    'SURINAME': 'SUR',
    'SWEDEN': 'SWE',
    'SWITZERLAND': 'CHE',
    'SYRIAN ARAB REPUBLIC': 'SYR',
    'TAIWAN PROVINCE OF CHINA': 'TWN',
    'TAJIKISTAN': 'TJK',
    'TANZANIA, UNITED REPUBLIC OF': 'TZA',
    'THAILAND': 'THA',
    'TIMOR-LESTE': 'TLS',
    'TOGO': 'TGO',
    'TONGA': 'TON',
    'TRINIDAD AND TOBAGO': 'TTO',
    'TUNISIA': 'TUN',
    'TÜRKIYE': 'TUR',
    'TURKMENISTAN': 'TKM',
    'TURKS AND CAICOS ISLANDS': 'TCA',
    'TUVALU': 'TUV',
    'UGANDA': 'UGA',
    'UKRAINE': 'UKR',
    'UNITED ARAB EMIRATES': 'ARE',
    'UNITED KINGDOM': 'GBR',
    'UNITED STATES OF AMERICA': 'USA',
    'UNITED STATES VIRGIN ISLANDS': 'VIR',
    'URUGUAY': 'URY',
    'UZBEKISTAN': 'UZB',
    'VANUATU': 'VUT',
    'VENEZUELA, BOLIVARIAN REPUBLIC OF': 'VEN',
    'VIET NAM': 'VNM',
    'YEMEN': 'YEM',
    'ZAMBIA': 'ZMB',
    'ZIMBABWE': 'ZWE'
}

In [12]:
## Add to ITA df
ITA_1['ISO3'] = ITA_1['country'].map(iso_dict)

In [13]:
# Check DF
ITA_1

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2015,2016,2017,2018,2019,2020,2021,2022,country,ISO3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFGHANISTAN,AFG
8,304.0,287.0,119.0,184.0,371.0,317.0,354.0,470.0,557.0,645.0,...,4131.0,4736.0,5118.0,5927.0,6406.0,2658.0,5689.0,7543.8,ALBANIA,ALB
14,520.0,605.0,635.0,678.0,749.0,866.0,901.0,988.0,1166.0,1234.0,...,1710.0,2039.0,2451.0,2657.0,2371.0,591.0,125.0,1398.0,ALGERIA,DZA
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.1,38.3,42.3,51.8,58.6,NaN,NaN,NaN,AMERICAN SAMOA,ASM
26,NaN,NaN,NaN,NaN,9422.0,10991.0,11351.0,11507.0,11601.0,11668.0,...,7850.0,8025.0,8152.0,8328.0,8235.0,5207.0,5422.0,8426.7,ANDORRA,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310,879.0,960.0,933.0,813.0,702.0,602.0,792.0,590.0,435.0,618.0,...,882.0,681.0,429.0,NaN,NaN,NaN,NaN,NaN,"VENEZUELA, BOLIVARIAN REPUBLIC OF",VEN
1316,1351.0,1607.0,1716.0,1520.0,1782.0,2140.0,2330.0,2628.0,2429.0,2928.0,...,7944.0,10013.0,12922.0,15498.0,18009.0,3837.0,157.0,3661.0,VIET NAM,VNM
1322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,398.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YEMEN,YEM
1328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZAMBIA,ZMB
1334,1416.0,1597.0,1336.0,2090.0,2250.0,1967.0,2217.0,2041.0,2256.0,1854.0,...,2057.0,2168.0,2423.0,2580.0,2294.0,639.0,381.0,1044.0,ZIMBABWE,ZWE

In [14]:
# Check NA
ITA_1['ISO3'].isna().any()

False

### 2.1.4 Calculate the recovery rate

In [15]:
ITA_1['rec_rate'] = ITA_1['2022'] / ITA_1['2019']

In [16]:
ITA_1.sample(10)

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2016,2017,2018,2019,2020,2021,2022,country,ISO3,rec_rate
722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MALDIVES,MDV,NaN
542,2143.0,2308.0,2395.0,2382.0,2508.0,2677.0,2591.0,2428.0,2774.0,3512.0,...,NaN,15543.0,17423.0,17914.0,6337.0,7010.0,14330.0,INDIA,IND,0.799933
644,346.0,403.0,463.0,500.0,614.0,737.0,674.0,736.0,636.0,895.0,...,4239.0,3869.0,4186.0,4791.0,886.4,NaN,NaN,LAO PEOPLE´S DEMOCRATIC REPUBLIC,LAO,NaN
152,70.0,80.0,86.0,85.0,78.0,96.0,94.0,94.0,107.0,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BONAIRE,BES,NaN
104,927.0,957.0,990.0,1019.0,947.0,1078.0,1035.0,1021.0,1090.0,1273.0,...,1227.0,1345.0,1356.0,966.0,545.8,242.0,897.6,BARBADOS,BRB,0.929193
86,3239.0,3416.0,3446.0,3348.0,3648.0,4204.0,4183.0,4406.0,4594.0,5004.0,...,6265.0,6136.0,6622.0,7250.0,1794.5,2101.0,7000.7,BAHAMAS,BHS,0.965614
1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.0,1243.0,1463.0,1599.0,370.4,432.0,NaN,TURKS AND CAICOS ISLANDS,TCA,NaN
698,7752.0,8151.0,7000.0,6949.0,7444.0,9162.0,10279.0,11531.0,11888.0,16673.0,...,30950.0,32611.0,35804.0,39406.0,5897.0,7706.0,5700.3,"MACAO, CHINA",MAC,0.144656
1184,NaN,0.7,2.1,3.2,4.5,7.7,5.2,NaN,NaN,NaN,...,344.0,431.0,1035.0,1257.0,351.0,296.0,NaN,TAJIKISTAN,TJK,NaN
1298,92.0,173.0,960.0,811.0,487.0,302.0,345.0,332.0,231.0,262.0,...,2027.0,2690.0,5346.0,6749.0,1504.0,1881.0,5233.0,UZBEKISTAN,UZB,0.775374

### 2.1.5 CSV Output

In [17]:
# Remove the file with same name
csv_ITA = "output/csv/ITA_extract.csv"
if os.path.exists(csv_ITA):
    os.remove(csv_ITA)

# Output
ITA_1.to_csv(csv_ITA, index=False)

## 2.2 ITE

### 2.2.1 Extract countries name

In [18]:
# Extract the whole column
countries_ITE = ITA.iloc[:,3].tolist()

# Drop NA values
import math
countries_ITE = [x for x in countries_ITA if not (isinstance(x, float) and math.isnan(x))]

# Drop notes at the bottom
#countries_ITE = countries_ITA[:-7]

In [19]:
# Check all countries name and the count
countries_ITE

['AFGHANISTAN',
 'ALBANIA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDORRA',
 'ANGOLA',
 'ANGUILLA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'ARUBA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BERMUDA',
 'BHUTAN',
 'BOLIVIA, PLURINATIONAL STATE OF',
 'BONAIRE',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BRAZIL',
 'BRITISH VIRGIN ISLANDS',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CABO VERDE',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'CHAD',
 'CHILE',
 'CHINA',
 'COLOMBIA',
 'COMOROS',
 'CONGO',
 'CONGO, DEMOCRATIC REPUBLIC OF THE',
 'COOK ISLANDS',
 'COSTA RICA',
 'COTE D´IVOIRE',
 'CROATIA',
 'CUBA',
 'CURAÇAO',
 'CYPRUS',
 'CZECH REPUBLIC (CZECHIA)',
 'DENMARK',
 'DJIBOUTI',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'ESTONIA',
 'ESWATINI',
 'ETHIOPIA',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'FRENCH GUIANA',
 'FRENCH POLYNESIA',
 'GABON',
 'GAMBIA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GREECE',
 'GRENADA',
 'GUADELOUPE',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG, CHINA',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN, ISLAMIC REPUBLIC OF',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KIRIBATI',
 'KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF',
 'KOREA, REPUBLIC OF',
 'KUWAIT',
 'KYRGYZSTAN',
 'LAO PEOPLE´S DEMOCRATIC REPUBLIC',
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LIECHTENSTEIN',
 'LITHUANIA',
 'LUXEMBOURG',
 'MACAO, CHINA',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITANIA',
 'MAURITIUS',
 'MEXICO',
 'MICRONESIA, FEDERATED STATES OF',
 'MOLDOVA, REPUBLIC OF',
 'MONACO',
 'MONGOLIA',
 'MONTENEGRO',
 'MONTSERRAT',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NAURU',
 'NEPAL',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER',
 'NIGERIA',
 'NIUE',
 'NORTH MACEDONIA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PALAU',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES',
 'POLAND',
 'PORTUGAL',
 'PUERTO RICO',
 'QATAR',
 'REUNION',
 'ROMANIA',
 'RUSSIAN FEDERATION',
 'RWANDA',
 'SABA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT VINCENT AND THE GRENADINES',
 'SAMOA',
 'SAN MARINO',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SERBIA AND MONTENEGRO',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SINT EUSTATIUS',
 'SINT MAARTEN (DUTCH PART)',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'STATE OF PALESTINE',
 'SUDAN',
 'SURINAME',
 'SWEDEN',
 'SWITZERLAND',
 'SYRIAN ARAB REPUBLIC',
 'TAIWAN PROVINCE OF CHINA',
 'TAJIKISTAN',
 'TANZANIA, UNITED REPUBLIC OF',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TONGA',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TÜRKIYE',
 'TURKMENISTAN',
 'TURKS AND CAICOS ISLANDS',
 'TUVALU',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES OF AMERICA',
 'UNITED STATES VIRGIN ISLANDS',
 'URUGUAY',
 'UZBEKISTAN',
 'VANUATU',
 'VENEZUELA, BOLIVARIAN REPUBLIC OF',
 'VIET NAM',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE']

In [20]:
#if 'FRANCE' in countries_ITE:
    #print('True')
#else:
    #print('False')

In [21]:
# Check the count of countries name
print(len(countries_ITE))

223

### 2.2.2 Extract values

In [22]:
values_ITE = ITE.iloc[2::4, 11:39] # 选出
values_ITE = values_ITE.drop(values_ITE.index[-1])
print(values_ITE)

      1995   1996   1997   1998   1999   2000   2001   2002   2003   2004  \
2      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6     65.0   77.0   27.0   54.0  211.0  389.0  446.0  487.0  522.0  735.0
10    32.0   45.0   28.0   74.0   80.0  102.0  100.0  111.0  112.0  178.0
14     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
18     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
874  849.0  884.0  558.0  703.0  581.0  423.0  615.0  434.0  331.0  502.0
878    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
882   50.0   55.0   70.0   84.0   61.0   73.0   38.0   38.0  139.0  139.0
886    NaN    NaN   29.0   40.0   53.0   67.0   80.0   64.0   88.0   92.0
890    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

     ...    2013    2014    2015    2016    2017    2018    2019    2020  \
2    ...   138.0   109.0    79.0    49.0     2.0    28.0    72.0    65.0
6    ...  1473.0  1700.0  1499.0  1693.0  1943.0  2186.0  2329.0  1134.0
10   ...   250.0   258.0   311.0   209.0   141.0   168.0   112.0    43.0
14   ...     NaN     NaN     NaN    22.0    22.0     NaN     NaN     NaN
18   ...     NaN     NaN     NaN     NaN     NaN     NaN  1897.0  1345.0
..   ...     ...     ...     ...     ...     ...     ...     ...     ...
874  ...   858.0   836.0   575.0   473.0     NaN     NaN     NaN     NaN
878  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
882  ...   940.0  1026.0   100.0   100.0     NaN     NaN     NaN     NaN
886  ...   552.0   642.0   660.0   683.0   653.0   742.0   819.0   412.0
890  ...   170.0   172.0   175.0   177.0   149.0   182.0   279.0    63.0

       2021    2022
2       NaN     NaN
6    2257.0  2957.1
10     71.4   175.7
14      NaN     NaN
18   1885.4     NaN
..      ...     ...
874     NaN     NaN
878     NaN     NaN
882     NaN     NaN
886   393.0   829.0
890     NaN     NaN

[223 rows x 28 columns]

### 2.2.3 Add countries info

In [23]:
# Add countries name
ITE_1 = values_ITE.assign(country = countries_ITE)
print(ITE_1)

      1995   1996   1997   1998   1999   2000   2001   2002   2003   2004  \
2      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6     65.0   77.0   27.0   54.0  211.0  389.0  446.0  487.0  522.0  735.0
10    32.0   45.0   28.0   74.0   80.0  102.0  100.0  111.0  112.0  178.0
14     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
18     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
874  849.0  884.0  558.0  703.0  581.0  423.0  615.0  434.0  331.0  502.0
878    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
882   50.0   55.0   70.0   84.0   61.0   73.0   38.0   38.0  139.0  139.0
886    NaN    NaN   29.0   40.0   53.0   67.0   80.0   64.0   88.0   92.0
890    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

     ...    2014    2015    2016    2017    2018    2019    2020    2021  \
2    ...   109.0    79.0    49.0     2.0    28.0    72.0    65.0     NaN
6    ...  1700.0  1499.0  1693.0  1943.0  2186.0  2329.0  1134.0  2257.0
10   ...   258.0   311.0   209.0   141.0   168.0   112.0    43.0    71.4
14   ...     NaN     NaN    22.0    22.0     NaN     NaN     NaN     NaN
18   ...     NaN     NaN     NaN     NaN     NaN  1897.0  1345.0  1885.4
..   ...     ...     ...     ...     ...     ...     ...     ...     ...
874  ...   836.0   575.0   473.0     NaN     NaN     NaN     NaN     NaN
878  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
882  ...  1026.0   100.0   100.0     NaN     NaN     NaN     NaN     NaN
886  ...   642.0   660.0   683.0   653.0   742.0   819.0   412.0   393.0
890  ...   172.0   175.0   177.0   149.0   182.0   279.0    63.0     NaN

       2022                            country
2       NaN                        AFGHANISTAN
6    2957.1                            ALBANIA
10    175.7                            ALGERIA
14      NaN                     AMERICAN SAMOA
18      NaN                            ANDORRA
..      ...                                ...
874     NaN  VENEZUELA, BOLIVARIAN REPUBLIC OF
878     NaN                           VIET NAM
882     NaN                              YEMEN
886   829.0                             ZAMBIA
890     NaN                           ZIMBABWE

[223 rows x 29 columns]

In [24]:
## Add to ITE df
ITE_1['ISO3'] = ITE_1['country'].map(iso_dict)

In [25]:
# Check DF
ITE_1

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2015,2016,2017,2018,2019,2020,2021,2022,country,ISO3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,49.0,2.0,28.0,72.0,65.0,NaN,NaN,AFGHANISTAN,AFG
6,65.0,77.0,27.0,54.0,211.0,389.0,446.0,487.0,522.0,735.0,...,1499.0,1693.0,1943.0,2186.0,2329.0,1134.0,2257.0,2957.1,ALBANIA,ALB
10,32.0,45.0,28.0,74.0,80.0,102.0,100.0,111.0,112.0,178.0,...,311.0,209.0,141.0,168.0,112.0,43.0,71.4,175.7,ALGERIA,DZA
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.0,22.0,NaN,NaN,NaN,NaN,NaN,AMERICAN SAMOA,ASM
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1897.0,1345.0,1885.4,NaN,ANDORRA,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,849.0,884.0,558.0,703.0,581.0,423.0,615.0,434.0,331.0,502.0,...,575.0,473.0,NaN,NaN,NaN,NaN,NaN,NaN,"VENEZUELA, BOLIVARIAN REPUBLIC OF",VEN
878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VIET NAM,VNM
882,50.0,55.0,70.0,84.0,61.0,73.0,38.0,38.0,139.0,139.0,...,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,YEMEN,YEM
886,NaN,NaN,29.0,40.0,53.0,67.0,80.0,64.0,88.0,92.0,...,660.0,683.0,653.0,742.0,819.0,412.0,393.0,829.0,ZAMBIA,ZMB
890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,175.0,177.0,149.0,182.0,279.0,63.0,NaN,NaN,ZIMBABWE,ZWE

In [26]:
# Check NA
ITE_1['ISO3'].isna().any()

False

### 2.2.4 Calculate the recovery rate

In [27]:
ITE_1['rec_rate'] = ITE_1['2022'] / ITE_1['2019']

In [28]:
ITE_1.sample(10)

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2016,2017,2018,2019,2020,2021,2022,country,ISO3,rec_rate
462,1695.0,1640.0,1639.0,1634.0,1697.0,1686.0,1780.0,3087.642403,3856.94813,4554.657796,...,5679.851943,5734.802769,5292.2,5334.9,4363.9,5532.5,5329.9,LUXEMBOURG,LUX,0.999063
890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177.000000,149.000000,182.0,279.0,63.0,NaN,NaN,ZIMBABWE,ZWE,NaN
874,849.0,884.0,558.0,703.0,581.0,423.0,615.0,434.000000,331.00000,502.000000,...,473.000000,NaN,NaN,NaN,NaN,NaN,NaN,"VENEZUELA, BOLIVARIAN REPUBLIC OF",VEN,NaN
798,8035.0,9089.0,7660.0,6174.0,7028.0,7483.0,7075.0,7901.000000,7856.00000,10043.000000,...,44786.000000,52376.000000,56366.0,59810.0,13403.0,5134.0,14918.0,THAILAND,THA,0.249423
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,...,NaN,NaN,NaN,1.9,4.4,4.4,4.4,LIBERIA,LBR,2.315789
862,611.0,717.0,759.0,695.0,653.0,713.0,611.0,351.000000,345.00000,494.000000,...,2285.000000,2823.000000,2624.0,2255.0,1058.0,540.0,1753.0,URUGUAY,URY,0.777384
38,1.0,12.0,20.0,24.0,31.0,38.0,65.0,63.000000,73.00000,172.000000,...,1017.000000,1204.000000,1329.0,1528.0,287.0,784.0,2439.1,ARMENIA,ARM,1.596270
110,162.0,93.0,136.0,175.0,234.0,222.0,230.0,319.000000,457.00000,581.000000,...,503.000000,542.000000,582.0,705.0,114.6,274.4,369.7,BOTSWANA,BWA,0.524397
134,1.4,1.2,0.6,0.4,0.7,0.8,0.5,1.100000,0.70000,1.200000,...,1.900000,3.000000,3.9,NaN,NaN,NaN,NaN,BURUNDI,BDI,NaN
502,11.0,19.0,21.0,20.0,28.0,NaN,NaN,NaN,NaN,NaN,...,30.000000,23.000000,4.3,11.2,5.5,3.5,10.4,MAURITANIA,MRT,0.928571

### 2.2.5 CSV Output

In [51]:
# Remove the file with same name
csv_ITE = "output/csv/ITE_extract.csv"
if os.path.exists(csv_ITE):
    os.remove(csv_ITE)

# Output
ITE_1.to_csv(csv_ITE, index=False)

## 2.3 DTT

### 2.3.1 Extract countries name

In [30]:
# Extract the whole column
countries_DTT = DTT.iloc[:,3].tolist()

# Drop NA values
import math
countries_DTT = [x for x in countries_ITA if not (isinstance(x, float) and math.isnan(x))]

# Drop notes at the bottom
#countries_DTT = countries_DTT[:-7]

In [31]:
# Check all countries name and the count
countries_DTT

['AFGHANISTAN',
 'ALBANIA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDORRA',
 'ANGOLA',
 'ANGUILLA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'ARUBA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BERMUDA',
 'BHUTAN',
 'BOLIVIA, PLURINATIONAL STATE OF',
 'BONAIRE',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BRAZIL',
 'BRITISH VIRGIN ISLANDS',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CABO VERDE',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'CHAD',
 'CHILE',
 'CHINA',
 'COLOMBIA',
 'COMOROS',
 'CONGO',
 'CONGO, DEMOCRATIC REPUBLIC OF THE',
 'COOK ISLANDS',
 'COSTA RICA',
 'COTE D´IVOIRE',
 'CROATIA',
 'CUBA',
 'CURAÇAO',
 'CYPRUS',
 'CZECH REPUBLIC (CZECHIA)',
 'DENMARK',
 'DJIBOUTI',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'ESTONIA',
 'ESWATINI',
 'ETHIOPIA',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'FRENCH GUIANA',
 'FRENCH POLYNESIA',
 'GABON',
 'GAMBIA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GREECE',
 'GRENADA',
 'GUADELOUPE',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG, CHINA',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN, ISLAMIC REPUBLIC OF',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KIRIBATI',
 'KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF',
 'KOREA, REPUBLIC OF',
 'KUWAIT',
 'KYRGYZSTAN',
 'LAO PEOPLE´S DEMOCRATIC REPUBLIC',
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LIECHTENSTEIN',
 'LITHUANIA',
 'LUXEMBOURG',
 'MACAO, CHINA',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITANIA',
 'MAURITIUS',
 'MEXICO',
 'MICRONESIA, FEDERATED STATES OF',
 'MOLDOVA, REPUBLIC OF',
 'MONACO',
 'MONGOLIA',
 'MONTENEGRO',
 'MONTSERRAT',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NAURU',
 'NEPAL',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER',
 'NIGERIA',
 'NIUE',
 'NORTH MACEDONIA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PALAU',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES',
 'POLAND',
 'PORTUGAL',
 'PUERTO RICO',
 'QATAR',
 'REUNION',
 'ROMANIA',
 'RUSSIAN FEDERATION',
 'RWANDA',
 'SABA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT VINCENT AND THE GRENADINES',
 'SAMOA',
 'SAN MARINO',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SERBIA AND MONTENEGRO',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SINT EUSTATIUS',
 'SINT MAARTEN (DUTCH PART)',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'STATE OF PALESTINE',
 'SUDAN',
 'SURINAME',
 'SWEDEN',
 'SWITZERLAND',
 'SYRIAN ARAB REPUBLIC',
 'TAIWAN PROVINCE OF CHINA',
 'TAJIKISTAN',
 'TANZANIA, UNITED REPUBLIC OF',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TONGA',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TÜRKIYE',
 'TURKMENISTAN',
 'TURKS AND CAICOS ISLANDS',
 'TUVALU',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES OF AMERICA',
 'UNITED STATES VIRGIN ISLANDS',
 'URUGUAY',
 'UZBEKISTAN',
 'VANUATU',
 'VENEZUELA, BOLIVARIAN REPUBLIC OF',
 'VIET NAM',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE']

In [32]:
#if 'FRANCE' in countries_ITE:
    #print('True')
#else:
    #print('False')

In [33]:
# Check the count of countries name
print(len(countries_DTT))

223

### 2.3.2 Extract values

In [34]:
values_DTT = DTT.iloc[2::5, 10:38] # 选出
values_DTT = values_DTT.drop(values_DTT.index[-1])
print(values_DTT)

      1995  1996  1997  1998     1999     2000     2001     2002     2003  \
2      NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
7      NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
12     NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
17     NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
22     NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
...    ...   ...   ...   ...      ...      ...      ...      ...      ...
1092   NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
1097   NaN   NaN   NaN   NaN      NaN  11200.0  11700.0  13000.0  13500.0
1102   NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
1107   NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
1112   NaN   NaN   NaN   NaN  35233.0  32468.0  29178.0  22109.0  19894.0

         2004  ...     2013     2014     2015     2016     2017     2018  \
2         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
7         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
12        NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
17        NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
22        NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
...       ...  ...      ...      ...      ...      ...      ...      ...
1092      NaN  ...  21526.0  20689.0  16144.0  17194.0  17557.0      NaN
1097  14500.0  ...  35000.0  38500.0  57000.0  62000.0  73200.0  80000.0
1102      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
1107      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
1112  20492.0  ...  13431.0  13781.0  16427.0  16377.0  15707.0  15180.0

         2019     2020     2021    2022
2         NaN      NaN      NaN     NaN
7         NaN      NaN      NaN     NaN
12        NaN      NaN      NaN     NaN
17        NaN      NaN      NaN     NaN
22        NaN      NaN      NaN     NaN
...       ...      ...      ...     ...
1092      NaN      NaN      NaN     NaN
1097  85000.0  56000.0  40000.0  101300
1102      NaN      NaN      NaN     NaN
1107      NaN      NaN      NaN     NaN
1112  20991.0   8202.0  11852.0   21164

[223 rows x 28 columns]

### 2.2.3 Add countries info

In [35]:
# Add countries name
DTT_1 = values_DTT.assign(country = countries_DTT)
print(DTT_1)

      1995  1996  1997  1998     1999     2000     2001     2002     2003  \
2      NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
7      NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
12     NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
17     NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
22     NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
...    ...   ...   ...   ...      ...      ...      ...      ...      ...
1092   NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
1097   NaN   NaN   NaN   NaN      NaN  11200.0  11700.0  13000.0  13500.0
1102   NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
1107   NaN   NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN
1112   NaN   NaN   NaN   NaN  35233.0  32468.0  29178.0  22109.0  19894.0

         2004  ...     2014     2015     2016     2017     2018     2019  \
2         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
7         NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
12        NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
17        NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
22        NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
...       ...  ...      ...      ...      ...      ...      ...      ...
1092      NaN  ...  20689.0  16144.0  17194.0  17557.0      NaN      NaN
1097  14500.0  ...  38500.0  57000.0  62000.0  73200.0  80000.0  85000.0
1102      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
1107      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
1112  20492.0  ...  13781.0  16427.0  16377.0  15707.0  15180.0  20991.0

         2020     2021    2022                            country
2         NaN      NaN     NaN                        AFGHANISTAN
7         NaN      NaN     NaN                            ALBANIA
12        NaN      NaN     NaN                            ALGERIA
17        NaN      NaN     NaN                     AMERICAN SAMOA
22        NaN      NaN     NaN                            ANDORRA
...       ...      ...     ...                                ...
1092      NaN      NaN     NaN  VENEZUELA, BOLIVARIAN REPUBLIC OF
1097  56000.0  40000.0  101300                           VIET NAM
1102      NaN      NaN     NaN                              YEMEN
1107      NaN      NaN     NaN                             ZAMBIA
1112   8202.0  11852.0   21164                           ZIMBABWE

[223 rows x 29 columns]

In [36]:
## Add to DTT df
DTT_1['ISO3'] = DTT_1['country'].map(iso_dict)

In [37]:
# Check DF
DTT_1

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2015,2016,2017,2018,2019,2020,2021,2022,country,ISO3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFGHANISTAN,AFG
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALBANIA,ALB
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALGERIA,DZA
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AMERICAN SAMOA,ASM
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANDORRA,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16144.0,17194.0,17557.0,NaN,NaN,NaN,NaN,NaN,"VENEZUELA, BOLIVARIAN REPUBLIC OF",VEN
1097,NaN,NaN,NaN,NaN,NaN,11200.0,11700.0,13000.0,13500.0,14500.0,...,57000.0,62000.0,73200.0,80000.0,85000.0,56000.0,40000.0,101300,VIET NAM,VNM
1102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YEMEN,YEM
1107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZAMBIA,ZMB
1112,NaN,NaN,NaN,NaN,35233.0,32468.0,29178.0,22109.0,19894.0,20492.0,...,16427.0,16377.0,15707.0,15180.0,20991.0,8202.0,11852.0,21164,ZIMBABWE,ZWE

In [38]:
# Check NA
DTT_1['ISO3'].isna().any()

False

### 2.3.4 Calculate the recovery rate

In [39]:
DTT_1['2022'] = pd.to_numeric(DTT_1['2022'], errors='coerce')
DTT_1['2019'] = pd.to_numeric(DTT_1['2019'], errors='coerce')
DTT_1['rec_rate'] = DTT_1['2022'] / DTT_1['2019']

In [40]:
DTT_1.sample(10)

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2016,2017,2018,2019,2020,2021,2022,country,ISO3,rec_rate
452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIA,IND,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARMENIA,ARM,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MALI,MLI,NaN
1052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRAINE,UKR,NaN
592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,258329.0,NaN,NaN,NaN,MALAWI,MWI,NaN
922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOLOMON ISLANDS,SLB,NaN
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF",PRK,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4770.0,NaN,NaN,NaN,NaN,NaN,NaN,BOTSWANA,BWA,NaN
622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MARTINIQUE,MTQ,NaN
597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,253878.0,276148.0,302415.0,332378.0,146990.0,72399.0,207785.0,MALAYSIA,MYS,0.625147

### 2.3.5 CSV Output

In [41]:
# Remove the file with same name
csv_DTT = "output/csv/DTT_extract.csv"
if os.path.exists(csv_DTT):
    os.remove(csv_DTT)

# Output
DTT_1.to_csv(csv_DTT, index=False)

# 3 Spatial Data Wrangling

In [42]:
#Read Spatial Data
import geopandas as gpd

gdf = gpd.read_file("boundaries/wb_countries_admin0_10m/WB_countries_Admin0_10m.shp")

In [43]:
## Check attributes
gdf.columns

Index(['OBJECTID', 'featurecla', 'LEVEL', 'TYPE', 'FORMAL_EN', 'FORMAL_FR',
       'POP_EST', 'POP_RANK', 'GDP_MD_EST', 'POP_YEAR', 'LASTCENSUS',
       'GDP_YEAR', 'ECONOMY', 'INCOME_GRP', 'FIPS_10_', 'ISO_A2', 'ISO_A3',
       'ISO_A3_EH', 'ISO_N3', 'UN_A3', 'WB_A2', 'WB_A3', 'CONTINENT',
       'REGION_UN', 'SUBREGION', 'REGION_WB', 'NAME_AR', 'NAME_BN', 'NAME_DE',
       'NAME_EN', 'NAME_ES', 'NAME_FR', 'NAME_EL', 'NAME_HI', 'NAME_HU',
       'NAME_ID', 'NAME_IT', 'NAME_JA', 'NAME_KO', 'NAME_NL', 'NAME_PL',
       'NAME_PT', 'NAME_RU', 'NAME_SV', 'NAME_TR', 'NAME_VI', 'NAME_ZH',
       'WB_NAME', 'WB_RULES', 'WB_REGION', 'Shape_Leng', 'Shape_Area',
       'geometry'],
      dtype='object')

In [44]:
## 把同属一个国家的polygons都合并到一起
#gdf_merged = gdf.dissolve(by='ISO_A3', as_index=False)

In [45]:
# Check
#if 'France' in gdf_merged['NAME_EN']:
    #print('True')
#else:
    #print('False')

In [46]:
# Data Cleaning
gdf1 = gdf.drop(columns = ['featurecla', 'LEVEL', 'FORMAL_EN', 'FORMAL_FR', 'POP_EST', 'POP_RANK', 
                 'GDP_MD_EST', 'POP_YEAR', 'LASTCENSUS', 'GDP_YEAR', 'ECONOMY', 'INCOME_GRP', 
                 'UN_A3', 'WB_A2', 'WB_A3', 'CONTINENT', 'REGION_UN', 'SUBREGION', 'REGION_WB', 
                 'NAME_AR', 'NAME_BN', 'NAME_DE','NAME_ES', 'NAME_FR', 'NAME_EL', 'NAME_HI', 
                 'NAME_HU', 'NAME_ID', 'NAME_IT', 'NAME_JA', 'NAME_KO', 'NAME_NL', 'NAME_PL',
                 'NAME_PT', 'NAME_RU', 'NAME_SV', 'NAME_TR', 'NAME_VI', 'NAME_ZH','WB_RULES', 
                 'WB_REGION'])

# 4 Join

In [47]:
#ITA_joined = pd.merge(ITA_1, gdf1[['ISO_A3','geometry']], left_on='ISO3', right_on='ISO_A3', how = 'left')

In [48]:
ITA_joined = pd.merge(gdf1, ITA_1, left_on='ISO_A3', right_on='ISO3', how = 'left')
ITE_joined = pd.merge(gdf1, ITE_1, left_on='ISO_A3', right_on='ISO3', how = 'left')
DTT_joined = pd.merge(gdf1, DTT_1, left_on='ISO_A3', right_on='ISO3', how = 'left')
EPM_joined = pd.merge(gdf1, EPM_1, left_on='ISO_A3', right_on='ISO3', how = 'left')

NameError: name 'EPM_1' is not defined

In [ ]:
# Replace '..' and '...' to be NAN
#ITA_joined.replace(['..', '...'], pd.NA, inplace=True)
#ITE_joined.replace(['..', '...'], pd.NA, inplace=True)
#DTT_joined.replace(['..', '...'], pd.NA, inplace=True)
#EPM_joined.replace(['..', '...'], pd.NA, inplace=True)

In [ ]:
# Convert to int class
columns_to_convert = ['1995', '1996', '1997', '1998', '1999', '2000', '2001', 
                      '2002', '2003', '2004', '2005', '2006', '2007', '2008', 
                      '2009', '2010', '2011', '2012', '2013', '2014', '2015', 
                      '2016', '2017', '2018', '2019', '2020', '2021']
ITA_joined[columns_to_convert] = ITA_joined[columns_to_convert].apply(pd.to_numeric, errors='coerce')
ITE_joined[columns_to_convert] = ITE_joined[columns_to_convert].apply(pd.to_numeric, errors='coerce')
DTT_joined[columns_to_convert] = DTT_joined[columns_to_convert].apply(pd.to_numeric, errors='coerce')
EPM_joined[columns_to_convert] = EPM_joined[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Convert DF to GDF
ITA_joined = gpd.GeoDataFrame(ITA_joined, geometry = 'geometry')
ITE_joined = gpd.GeoDataFrame(ITE_joined, geometry = 'geometry')
DTT_joined = gpd.GeoDataFrame(DTT_joined, geometry = 'geometry')
EPM_joined = gpd.GeoDataFrame(EPM_joined, geometry = 'geometry')

In [ ]:
# Check
#print(ITA_joined)
#print(ITA_joined.dtypes)

In [ ]:
# Check
#if 'FRANCE' in ITA_joined['country']:
    #print('True')
#else:
    #print('False')

# 5 Viz

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig, ax = plt.subplots(2, 2, figsize=(10, 6))

ITA_joined.plot(ax=ax[0, 0], column='2021',
                legend=True,
                cmap='YlOrRd',  # 设置颜色映射
                scheme='quantiles',  # 设置分层设色的方法
                legend_kwds={'title': "Values"})  # 将label传递给title

ITE_joined.plot(ax=ax[0, 1], column='2021',
                legend=True,
                cmap='YlOrRd',  # 设置颜色映射
                scheme='quantiles',  # 设置分层设色的方法
                legend_kwds={'title': "Values"})  # 将label传递给title

DTT_joined.plot(ax=ax[1, 0], column='2021',
                legend=True,
                cmap='YlOrRd',  # 设置颜色映射
                scheme='quantiles',  # 设置分层设色的方法
                legend_kwds={'title': "Values"})  # 将label传递给title

EPM_joined.plot(ax=ax[1, 1], column='2021',
                legend=True,
                cmap='YlOrRd',  # 设置颜色映射
                scheme='quantiles',  # 设置分层设色的方法
                legend_kwds={'title': "Values"})  # 将label传递给title

plt.tight_layout()
plt.show()

# OUTPUT shp

In [50]:
# shp output
output_folder = "output"

## 创建名为"ITA"的新文件夹，放在output文件夹下
ITA_folder = os.path.join(output_folder, "ITA")
if not os.path.exists(ITA_folder):
    os.makedirs(ITA_folder)
## Remove the file with same name
geojson_ITA = "output/ITA/ITA0307.shp"
if os.path.exists(geojson_ITA):
    os.remove(geojson_ITA)
## Output
ITA_joined.to_file(geojson_ITA)

## 创建名为"ITE"的新文件夹，放在output文件夹下
ITE_folder = os.path.join(output_folder, "ITE")
if not os.path.exists(ITE_folder):
    os.makedirs(ITE_folder)
## Remove the file with same name
geojson_ITE = "output/ITE/ITE0307.shp"
if os.path.exists(geojson_ITE):
    os.remove(geojson_ITE)
## Output
ITE_joined.to_file(geojson_ITE)

## 创建名为"DTT"的新文件夹，放在output文件夹下
DTT_folder = os.path.join(output_folder, "DTT")
if not os.path.exists(DTT_folder):
    os.makedirs(DTT_folder)
## Remove the file with same name
geojson_DTT = "output/DTT/DTT0307.shp"
if os.path.exists(geojson_DTT):
    os.remove(geojson_DTT)
## Output
DTT_joined.to_file(geojson_DTT)